@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.Auctions
@model AuctionModel

@{
    ViewBag.Title = "Auction";
}

<h2>Auction</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="@Model.Auction.Listing.Product.ProductDetail.ImageData" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Model.Auction.Listing.ListingName
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Add checks for whether it's live for over, also add info for when it ends, etc.
        </div>
    </div>
    @if (Model.Auction.IsSilent)
    {
        <input class="input-sm" value="@Model.Auction.MinimumBid" />
        <input type="submit" />
    }
    else
    {
        if (Model.Auction.AuctionBids != null)
        {
            if (Model.AuctionWinner != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        Current winner: @Model.AuctionWinner.UserName
                    </div>
                </div>
            }
            foreach (AuctionBid bid in Model.Auction.AuctionBids)
            {
                <div class="row">
                    <div class="col-lg-8 text-left">
                        @bid.AppUser.UserName
                    </div>
                    <div class="col-lg-2">
                        @bid.BidAmount
                    </div>
                    <div class="col-lg-2">
                        @bid.BidDate.Date.ToString()
                    </div>
                </div>
            }
        }
        <input class="input-sm" value="@Model.Auction.MinimumBid"/>
        <input type="submit" />
    }
</div>