@using TheAfterParty.Domain.Services;
@using TheAfterParty.WebUI.Models.Home;
@using TheAfterParty.Domain.Entities;
@model HomeActivityFeedModel

@{
    ViewBag.Title = "ActivityFeed";
}

<h2>ActivityFeed</h2>

<div class="container">
    @foreach (ActivityFeedContainer feedItem in Model.ActivityFeedItems)
    {
        if (feedItem.GetActivityFeedItem() is WonPrize)
        {
            WonPrize prize = feedItem.GetActivityFeedItem() as WonPrize;
            <div class="row">
                <div class="col-lg-1">
                    todo
                </div>
                <div class="col-lg-3">
                    Winning Action
                </div>
                <div class="col-lg-4">
                    Game Name
                </div>
                <div class="col-lg-2">
                    Time Won
                </div>
                <div class="col-lg-2">
                    Key/Gift
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    todo;add key
                </div>
                <div class="col-lg-3">
                    @prize.WinningAction
                </div>
                <div class="col-lg-4">
                    @prize.Prize.Listing.ListingName
                </div>
                <div class="col-lg-2">
                    @prize.TimeWon
                </div>
                <div class="col-lg-2">
                    add key
                </div>
            </div>
        }
        if (feedItem.GetActivityFeedItem() is Order)
        {
            Order order = feedItem.GetActivityFeedItem() as Order;
            <div class="row">
                <div class="col-lg-6">
                    Order ID
                </div>
                <div class="col-lg-3">
                    Purchase Date
                </div>
                <div class="col-lg-3">
                    Total Cost
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @order.OrderID
                </div>
                <div class="col-lg-3">
                    @order.SaleDate
                </div>
                <div class="col-lg-3">
                    @order.TotalSalePrice()
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    todo
                </div>
                <div class="col-lg-5">
                    Game Name
                </div>
                <div class="col-lg-4">
                    Product Key
                </div>
                <div class="col-lg-2">
                    Cost
                </div>
            </div>
            @foreach (ProductOrderEntry entry in order.ProductOrderEntries)
            {
                <div class="row">
                    <div class="col-lg-1">
                        rev/used
                    </div>
                    <div class="col-lg-5">
                        @entry.Listing.ListingName
                    </div>
                    <div class="col-lg-4">
                        @entry.ClaimedProductKey.Key
                    </div>
                    <div class="col-lg-2">
                        @entry.SalePrice
                    </div>
                </div>
            }
        }
    }
</div>

