@using TheAfterParty.WebUI.Models.Home
@model HomeTestModel

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm("Test", "Home", FormMethod.Post))
{
    <br/>
    for (int i = 0; i < Model.MyIntStringBools.Count; i++)
    {
        @Html.HiddenFor(x => x.MyIntStringBools[i].MyIntString.MyInt);
        @Html.HiddenFor(x => x.MyIntStringBools[i].MyIntString.MyString);//, Model.MyIntStringBools.ElementAt(i).MyIntString.MyString);
         //@Html.CheckBoxFor(x => x.MyIntStringBools.ElementAt(i).IsSelected);//, (Model.MyIntStringBools.ElementAt(i).IsSelected) ? new { @checked = "checked" } : null);
        string idString = "MyIntStringBools_" + i + "__IsSelected";
        if (Model.MyIntStringBools[i].IsSelected)
        {
            @Html.Label(Model.MyIntStringBools[i].MyIntString.MyString)<input type="checkbox" id="@idString" name="MyIntStringBools[@i].IsSelected" value="true" checked="checked" />
        }
        else
        {
            @Html.Label(Model.MyIntStringBools[i].MyIntString.MyString)<input type="checkbox" id="@idString" name="MyIntStringBools[@i].IsSelected" value="true"/>
        }
        <br/>
    }
    @Html.HiddenFor(x => x.PreviousInt)
    <button class="btn-primary" name="TestInt" value="5" type="submit" >
        Submit Query
    </button>
    <button class="btn-primary" type="submit">
        Submit Query (2)
    </button>
}
