@using TheAfterParty.WebUI.Models.Account
@using TheAfterParty.Domain.Entities
@model AccountKeysModel


@{
    ViewBag.Title = "Keys";
}

<div class="container">
    <div class="row custom-row-header">
        <h3>My Keys</h3>
    </div>
    <div class="row custom-row">
        <div class="col-lg-2">
            todo
        </div>
        <div class="col-lg-5">
            Game Name
        </div>
        <div class="col-lg-1">
            Platform
        </div>
        <div class="col-lg-4">
            Product Key
        </div>
    </div>
    @foreach (ClaimedProductKey key in Model.Keys)
    {
        <div class="row">
            <div class="col-lg-2">
                acq method/reveal
            </div>
            <div class="col-lg-5">
                @key.Listing.ListingName
            </div>
            <div class="col-lg-1">
            @foreach (string platformIconUrl in key.Listing.Platforms.OrderBy(p => p.PlatformName).Select(p => p.PlatformIconURL))
            {
                <div class="icon-image-container">
                    <div class="icon-image text-center" style="background-image: url('@platformIconUrl')"></div>
                </div>
            }
            </div>
            <div class="col-lg-4">
                @if (key.IsRevealed && !key.IsUsed)
                {
                    <span>@key.Key</span><br/><span>Used</span> <input type="checkbox" name="isUsed" onclick="MarkKeyUsed(@key.ClaimedProductKeyID,this)">
                }
                else if (key.IsRevealed && key.IsUsed)
                {
                    <span><del>@key.Key</del></span><br/><span>Used</span><input type="checkbox" name="isUsed" onclick="MarkKeyUsed(@key.ClaimedProductKeyID,this)" checked>
                }
                else
                {
                    <input type="button" onclick="MarkKeyRevealed(@key.ClaimedProductKeyID,this)" />
                }
            </div>
        </div>
    }
</div>