@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.Objectives
@model AddEditObjectivesViewModel

@{
    ViewBag.Title = "Edit Objective";
}

<h2>Edit Objective</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("EditObjective", "Objectives", FormMethod.Post))
{
<span>Objective title (i.e. Tabletop Simulator, Misc.): </span>@Html.TextBoxFor(x => x.Objective.Title)<br />
<span>Objective name (i.e. Tabletoppers, Chessmaster): </span>@Html.TextBoxFor(x => x.Objective.ObjectiveName)<br />
<span>Objective category (optional): </span>@Html.TextBoxFor(x => x.Objective.Category)<br />
<span>Objective Description: </span>@Html.TextAreaFor(x => x.Objective.Description)<br />
<span>Objective Reward: </span>@Html.TextBoxFor(x => x.Objective.Reward)<br />
<span>Product ID (optional): </span>@Html.TextBoxFor(x => x.ProductID)<br />
<span>Is Active?: </span>@Html.CheckBoxFor(x => x.Objective.IsActive)<br />
<span>Requires Monu?: </span>@Html.CheckBoxFor(x => x.Objective.RequiresAdmin)<br />
<input type="submit" name="Submit" />
}