@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.User
@model AddEditBalanceEntryViewModel

@{
    ViewBag.Title = "Add Balance Entry";
}

<h2>Add Balance Entry</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("AddBalanceEntry", "User", FormMethod.Post))
{
    <span>Points adjusted (can leave blank if supplying objective ID): </span>@Html.TextBoxFor(x => x.BalanceEntry.PointsAdjusted)<br />
    <span>Note: </span>@Html.TextBoxFor(x => x.BalanceEntry.Notes)<br />
    <span>User nickname: </span>@Html.TextBoxFor(x => x.UserNickName)<br />
    <span>Objective ID (optional): </span>@Html.TextBoxFor(x => x.ObjectiveID )<br />
    <input type="submit" name="Submit" />
}