@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.User
@model AdminSingleOrderViewModel

@{
    ViewBag.Title = "Order";
}

<h2>Admin Order</h2>

<span>Order for: @Model.Order.AppUser.UserName</span>

<div>
    <div class="row">
        <div class="col-lg-2">Action</div>
        <div class="col-lg-5">Listing</div>
        <div class="col-lg-5">Sale Price</div>
    </div>
    @foreach (ProductOrderEntry entry in Model.Order.ProductOrderEntries)
    {
        <div class="row">
            <div class="col-lg-4">@Html.ActionLink("Edit", "EditProductOrderEntry", "User", new { id = entry.ProductOrderEntryID }, null) @Html.ActionLink("Delete", "DeleteProductOrderEntry", "User", new { id = entry.ProductOrderEntryID }, null)</div>
            <div class="col-lg-4">@entry.Listing.ListingName</div>
            <div class="col-lg-4">@entry.SalePrice</div>
        </div>
    }
</div>