@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.User
@model AdminClaimedProductKeyViewModel

@{
    ViewBag.Title = "Product Keys";
}

<h2>Product Keys</h2>

<div>
    <div class="row">
        <div class="col-lg-2">Action</div>
        <div class="col-lg-2">Acquisition Type</div>
        <div class="col-lg-2">Date</div>
        <div class="col-lg-1">Gift?</div>
        <div class="col-lg-1">Shown?</div>
        <div class="col-lg-1">Used?</div>
        <div class="col-lg-3">Item name</div>
    </div>
    @foreach (ClaimedProductKey key in Model.ClaimedProductKeys)
    {
        <div class="row">
            <div class="col-lg-2">@Html.ActionLink("Edit", "EditClaimedProductKey", "User", new { id = key.ClaimedProductKeyID }, null) @Html.ActionLink("Delete", "DeleteClaimedProductKey", "User", new { id = key.ClaimedProductKeyID }, null)</div>
            <div class="col-lg-2">@key.AcquisitionTitle</div>
            <div class="col-lg-2">@key.Date</div>
            <div class="col-lg-1">@key.IsGift</div>
            <div class="col-lg-1">@key.IsRevealed</div>
            <div class="col-lg-1">@key.IsUsed</div>
            <div class="col-lg-3">@((key.Listing == null) ? "" : key.Listing.ListingName)</div>
        </div>
    }
</div>
<a href="/User/AddClaimedProductKey/">Add Key</a>