@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.User
@model AdminAppUserViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Admin Users</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-2">Action</div>
        <div class="col-lg-2">Steam ID</div>
        <div class="col-lg-2">Username</div>
        <div class="col-lg-2">Nickname</div>
        <div class="col-lg-2">Balance</div>
    </div>
    @foreach (AppUser user in Model.AppUsers)
    {
        <div class="row">
            <div class="col-lg-2">@Html.ActionLink("Edit","EditAppUser","User", new { id = user.Id })</div>
            <div class="col-lg-2">@user.UserSteamID</div>
            <div class="col-lg-3">@user.UserName</div>
            <div class="col-lg-3">@user.Nickname</div>
            <div class="col-lg-2">@user.Balance</div>
        </div>
    }
</div>
<a href="/User/AddAppUser/">Add User</a>