@using TheAfterParty.WebUI.Models.User
@using TheAfterParty.WebUI.Models._Nav
@model UserIndexModel

@{
    ViewBag.Title = "Users";
}

<div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12 text-center custom-row-header">
            <h3 class="text-left">@Model.Title</h3>
        </div>
    </div>
    @{
        int myRow = -1;
        for (int i = 0; i < Model.Users.Count; i++)
        {
            if (Model.Users[i].UserName.CompareTo(Model.LoggedInUser.UserName) == 0)
            {
                myRow = i;
            }
        }
    }
    <div class="row custom-row text-center">
        <div class="col-lg-8 col-md-8 col-xl-8 text-center col-header">User</div>
        <div class="col-lg-2 col-md-2 col-xl-2 col-header">Member Since</div>
        <div class="col-lg-2 col-md-2 col-xl-2 col-header">Balance</div>
    </div>
    @if (Model.Users.Count == 0)
    {
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12">
            No User Accounts!
        </div>
    </div>
    }
    else
    {
    for (int i = 0; i < Model.Users.Count; i++)
    {
    <div class="row user-row text-center">
        <div class="col-lg-8 col-md-8 col-xl-8 text-left vertical-align">
            <div class="pad-left vertical-align">
                @if (Model.LoggedInUser == null)
                {
                    <i class="fa fa-gift fa-lg text-gray-faded"></i>
                }
                else if (Model.Users[i].UserName.CompareTo(Model.LoggedInUser.UserName) == 0)
                {
                    <i class="fa fa-gift fa-lg icon-gray-faded"></i>
                }
                else
                {
                    <div class="clickable" onclick="TransferPoints(@("\"" + Model.Users[i].Id + "\""),@i,@myRow);"><i class="fa fa-lg fa-gift text-success"></i></div>
                }
            </div>
            <a href="@Url.Action("UserProfile", "User", new { id = Model.Users[i].UserName })">
                <div class="outer-avatar-container">
                    <div class="inner-avatar-container-lg" style="background-image: url(@Model.Users[i].MediumAvatar)"></div>
                </div>
            </a>
            <div class="pad-right col-text text-lblue" id="@("userName" + i)">@Model.Users[i].UserName</div>
        </div>
        <div class="col-lg-2 col-md-2 col-xl-2 col-text text-primary">@Model.GetConvertedDateTime(Model.Users[i].MemberSince).ToShortDateString()</div>
        <div class="col-lg-2 col-md-2 col-xl-2 col-text text-success" id="@("userBalance" + i)">@Model.Users[i].Balance</div>
    </div>
    }
    }
</div>