@using TheAfterParty.WebUI.Models.User
@using TheAfterParty.Domain.Entities
@model UserOrdersModel

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            Order ID
        </div>
        <div class="col-lg-3">
            Purchase Date
        </div>
        <div class="col-lg-3">
            Total Cost
        </div>
    </div>
    @foreach (Order order in Model.Orders)
    {
        <div class="row">
            <div class="col-lg-6">
                Order ID
            </div>
            <div class="col-lg-3">
                Purchase Date
            </div>
            <div class="col-lg-3">
                Total Cost
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @order.OrderID
            </div>
            <div class="col-lg-3">
                @order.SaleDate
            </div>
            <div class="col-lg-3">
                @order.TotalSalePrice()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                todo
            </div>
            <div class="col-lg-5">
                Game Name
            </div>
            <div class="col-lg-4">
                Product Key
            </div>
            <div class="col-lg-2">
                Cost
            </div>
        </div>
        foreach (ProductOrderEntry entry in order.ProductOrderEntries)
        {
            <div class="row">
                <div class="col-lg-1">
                    rev/used
                </div>
                <div class="col-lg-5">
                    @entry.Listing.ListingName
                </div>
                <div class="col-lg-4">
                    @entry.ClaimedProductKey.Key
                </div>
                <div class="col-lg-2">
                    @entry.SalePrice
                </div>
            </div>
        }
    }
</div>