@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.Store
@model AdminPlatformViewModel

@{
    ViewBag.Title = "View Platforms";
}

<h2>View Platforms</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3">Actions</div>
        <div class="col-lg-2">Name</div>
        <div class="col-lg-1">HasAppID</div>
        <div class="col-lg-2">Redeem URL</div>
        <div class="col-lg-2">Icon URL</div>
        <div class="col-lg-2">Store URL</div>
    </div>
    @foreach (Platform platform in Model.Platforms)
    {
        <div class="row">
            <div class="col-lg-3">
                @Html.ActionLink("Edit", "EditPlatform", "Store", new { id = platform.PlatformID }, null)
            </div>
            <div class="col-lg-2">@platform.PlatformName</div>
            <div class="col-lg-1">@platform.HasAppID </div>
            <div class="col-lg-2">@platform.PlatformURL</div>
            <div class="col-lg-2">@platform.PlatformIconURL</div>
            <div class="col-lg-2">@platform.StorePageURL</div>
        </div>
    }
</div>
<a href="/Store/AddPlatform/">Add Platform</a>