@using TheAfterParty.WebUI.Models.Store;
@using TheAfterParty.Domain.Entities;
@model StoreDealsViewModel

@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions { UpdateTargetId = "cartInfo", Url = Url.Action("AjaxAddToCart", "Cart") };
}
<div class="panel panel-primary">
    <h2 class="text-center">Deals</h2>
    <br/>
    <h3 class="text-center">@Model.DealType</h3>
    <br/>
    @if (Model.ListingsWithDeals.Count() == 0)
    {
        <h4 class="text-left">There are no @Model.DealType!</h4>
    }
    else
    {
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Item</td>
                <td>Expires</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ListingsWithDeals.Count(); i++)
            {
            <tr>
                <td class="text-left">
                    @using (Ajax.BeginForm("AddToCart", "Cart", ajaxOptions))
                    {
                        <div>
                            @Html.HiddenFor(m => m.ListingsWithDeals.ElementAt(i).ListingID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn-transparent" title="Add to cart">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </button>
                        </div>
                    }
                </td>
                <td>@Model.ListingsWithDeals.ElementAt(i).Quantity</td>
                <td>@Model.ListingsWithDeals.ElementAt(i).SaleOrDefaultPrice()</td>
                <td>@Model.ListingsWithDeals.ElementAt(i).ListingName</td>
                <td>@Model.ListingsWithDeals.ElementAt(i).GetEarliestExpiry(Model.IsDaily, Model.IsWeekly)</td>
            </tr>
            }
    </table>
    }
</div> 