@using TheAfterParty.Domain.Entities
@model IEnumerable<Listing>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Areas/Members/Views/Shared/_Layout.cshtml";
}

<h2>Store</h2>

@for (int i = 0; i < Model.ToList().Count; i++)//each (Listing listing in Model)
{
    <div>
        <div>@Model.ElementAt(i).ListingPrice</div>
        <div>@Model.ElementAt(i).ListingName</div>
        <div>@Model.ElementAt(i).ListingID - @Model.ElementAt(i).Product.ProductName</div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div>
                @Html.HiddenFor(m => m.ElementAt(i).ListingID);
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
                <input type="submit" value="Add to cart"/>
            </div>
        }
    </div>
}