@using TheAfterParty.Domain.Entities
@model IEnumerable<Listing>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Areas/Members/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

@foreach (Listing listing in Model)
{
    <div>
        <div>@listing.ListingPrice</div>
        <div>@listing.ListingName</div>
        <div>@listing.ListingID - @listing.Product.ProductName</div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div>
                @Html.HiddenFor(l => listing);
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
                <input type="submit" value="Add to cart"/>
            </div>
        }
    </div>
}
