@using TheAfterParty.Domain.Entities
@model IEnumerable<Listing>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Areas/Members/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions { UpdateTargetId = "cartInfo", Url = Url.Action("AjaxAddToCart", "Cart") };
}

<h2 class="text-center">The Co-op Shop</h2>
<br/>
<br/>

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Item</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ToList().Count; i++)//each (Listing listing in Model)
        {
            <tr>
                <td class="text-left">
                    @using (Ajax.BeginForm("AddToCart", "Cart", ajaxOptions))//, FormMethod.Post, new { @class = "tag-inline" }))
                    {
                        <div>
                            @Html.HiddenFor(m => m.ElementAt(i).ListingID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn-transparent" title="Add to cart">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </button>
                        </div>
                    }
                </td>
                <td>@Model.ElementAt(i).Quantity</td>
                <td>@Model.ElementAt(i).SaleOrDefaultPrice()</td>
                <td>@Model.ElementAt(i).ListingName</td>
            </tr>
        }
    </tbody>
</table>