@using TheAfterParty.WebUI.Models.Cart
@model CartIndexViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper QuantitySelect(int num, int current)
{
    string disabledText = "";

    if (num == 1)
    {
        disabledText = "disabled";
    }
    
    <select @disabledText>  

    @for (int i = 1; i <= num; i++)
    {
        string selectedText = "";

        if (i == current)
        {
            selectedText = "selected";
        }

        <option value="@i" @selectedText>@i</option>
    }

    </select>    
}

<h2>@Model.LoggedInUser.UserName's Co-op Shop Cart</h2>
<br/>
<br/>
@if (Model.LoggedInUser.GetCartQuantity() == 0)
{
    <div class="text-left">There are no items in your cart!</div>
    <br/>
    <br/>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-left"></th>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CartEntries.ToList().Count; i++) //(ShoppingCartEntry entry in Model.CartEntries)
            {
                <tr>
                    <td class="text-left">
                        @using (Html.BeginForm("RemoveItem", "Cart"))
                        {
                        <div>
                            @Html.HiddenFor(m => m.CartEntries.ElementAt(i).ShoppingID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn-transparent">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        }
                    </td>
                    <td >
                        @using (Html.BeginForm("DecrementCartQuantity", "Cart", FormMethod.Post, new { @class = "tag-inline" }))
                        {
                        <div class="tag-inline">
                            @Html.HiddenFor(m => m.CartEntries.ElementAt(i).ShoppingID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn-transparent tag-inline">
                                <i class="glyphicon glyphicon-minus tag-inline"></i>
                            </button>
                        </div>
                        }
                        <div class="tag-inline">
                            @QuantitySelect(Model.CartEntries.ElementAt(i).Listing.Quantity, @Model.CartEntries.ElementAt(i).Quantity)
                        </div>
                        @using (Html.BeginForm("IncrementCartQuantity", "Cart", FormMethod.Post, new { @class = "tag-inline" }))
                        {
                        <div class="tag-inline">
                            @Html.HiddenFor(m => m.CartEntries.ElementAt(i).ShoppingID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn-transparent">
                                <i class="glyphicon glyphicon-plus tag-inline"></i>
                            </button>
                        </div>
                        }
                    </td>
                    <td class="text-left">@Model.CartEntries.ElementAt(i).Listing.ListingName</td>
                    <td class="text-right">@Model.CartEntries.ElementAt(i).Listing.SaleOrDefaultPrice()</td>
                    <td class="text-right">@(Model.CartEntries.ElementAt(i).Listing.SaleOrDefaultPrice() * Model.CartEntries.ElementAt(i).Quantity)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total:</td>
                <td class="text-right">@Model.LoggedInUser.GetCartTotal()</td>
            </tr>
        </tfoot>
    </table>
    using (Html.BeginForm("EmptyCart", "Cart"))
    {
        <div>
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Empty Cart" />
        </div>
    }
    using (Html.BeginForm("Purchase", "Cart"))
    {
        <div>
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Purchase" />
        </div>
    }
}
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>