@using TheAfterParty.WebUI.Models._Nav
@model NavModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TheAfterPartyScripts.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar-xs">
        <div class="navbar-primary">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container vertical-align">
                    <div class="navbar-header vertical-align">
                        <ul class="topnav topnav-left">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "topnav-inner topnav-inner-solo" })
                            </li>
                            <li>
                                @Html.ActionLink("Store", "Index", "Store", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Objectives", "Index", "Objectives", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Auctions", "Index", "Auction", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Giveaways", "Index", "Giveaway", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("About", "Index", "About", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @if (Model != null && Model.LoggedInUser != null)
                    {
                        <div class="flex-right vertical-align">
                            <div class="navbar-brand cart-container cart-adjustment">
                                <a href="/Cart"><i class="fa fa-opencart cart-image reserve-div-left"></i></a>
                                <a href="/Cart"><span class="reserve-div-right" id="cartTotal">@Model.LoggedInUser.GetCartTotal()</span></a>
                            </div>
                            @if (Model.LoggedInUser.ReservedBalance() > 0)
                            {
                                <div class="flex-right navbar-brand reserve-tooltip">
                                    <i class="fa fa-exclamation-triangle reserve-div-left"></i>
                                    <span class="reserve-div-right" id="reservedTotal">@Model.LoggedInUser.ReservedBalance()</span>
                                    <div class="reserve-tooltip-body">
                                        @if (Model.LoggedInUser.GetCartTotal() > 0)
                                        {
                                            <span class="reserve-tooltip-danger-text" id="cartTotal">@Model.LoggedInUser.GetCartTotal()</span><span class="reserve-tooltip-text"> points reserved in shopping cart.</span>
                                        }
                                        else
                                        {
                                            <span class="reserve-tooltip-success-text" id="cartTotal">0</span><span class="reserve-tooltip-text"> points reserved in shopping cart.</span><br />
                                        }
                                        <br />
                                        @if (Model.LoggedInUser.GetSilentAuctionReservedBalance() > 0)
                                        {
                                            <span class="reserve-tooltip-danger-text reserve-tooltip-bottom-spans" id="silentAuctionTotal">@Model.LoggedInUser.GetSilentAuctionReservedBalance()</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for silent auctions.</span>
                                        }
                                        else
                                        {
                                            <span class="reserve-tooltip-success-text reserve-tooltip-bottom-spans" id="silentAuctionTotal">0</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for silent auctions.</span>
                                        }
                                        <br />
                                        @if (Model.LoggedInUser.GetPublicAuctionReservedBalance() > 0)
                                        {
                                            <span class="reserve-tooltip-danger-text reserve-tooltip-bottom-spans" id="publicAuctionTotal">@Model.LoggedInUser.GetPublicAuctionReservedBalance()</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for winning public auction bids.</span>
                                        }
                                        else
                                        {
                                            <span class="reserve-tooltip-success-text reserve-tooltip-bottom-spans" id="publicAuctionTotal">0</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for winning public auction bids.</span>
                                        }
                                    </div>
                                </div>
                            }
                            <div class="navbar-brand vertical-align">
                                <div class="navbar-user-info vertical-align">
                                    <div class="navbar-user-info-inner">Account (@(Model.LoggedInUser.Balance - Model.LoggedInUser.ReservedBalance()) Points)</div>
                                    <div class="account-button vertical-align"></div>
                                </div>
                                @if (Model.LoggedInUser.SmallAvatar != null)
                                {
                                    <div class="outer-avatar-nav-container vertical-align">
                                        <a href="@Url.Action("userprofile","user", new { id = Model.LoggedInUser.UserName })">
                                            <div class="inner-avatar-nav-container vertical-align" style="background-image: url(@Model.LoggedInUser.SmallAvatar)"></div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="outer-avatar-nav-container vertical-align">
                                        <a href="@Url.Action("userprofile","user", new { id = Model.LoggedInUser.UserName })">
                                            <div class="inner-avatar-container vertical-align"></div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="flex-right vertical-align">
                            @using (Html.BeginForm("SteamLogin", "Account"))
                            {
                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                <input type="submit" value="" class="login-button" style="background: url(https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png) no-repeat;"/>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="banner-container">
        <div class="banner-div">
            <img class="banner-img" src="~/Content/banner.png" />
        </div>
    </div>
    <div class="container body-content">
        @if (Model != null && Model.FullNavList != null)
        {
        <div class="container">
            <div class="row">
                <div class="col-lg-2 nav-first-row" style="height:100%">
                    @foreach (NavGrouping grouping in Model.FullNavList)
                    {
                        <h3 class="nav-tag nav-grouping-header">@grouping.GroupingHeader</h3>
                        foreach (NavItem item in grouping.NavItems)
                        {
                            if (item.IsFormSubmit)
                            {
                            <button type="submit" value="@item.FormValue" name="@item.FormName" class="btn-link nav-item-link">
                                <div class="nav-tag nav-item-text">@item.DestinationName</div>
                                <div class="nav-tag nav-underline"></div>
                            </button>
                            }
                            else
                            {
                            <a href="@item.Destination" class="nav-item-link">
                                <div class="nav-tag nav-item-text">@item.DestinationName</div>
                                <div class="nav-tag nav-underline"></div>
                            </a>
                            }
                        }
                    }
                </div>
                <div class="col-lg-10">
                    @RenderBody()
                </div>
            </div>
        </div>
        }
        else
        {
            @RenderBody()
        }
        <hr class="footer-hr" />
        <footer>
            <p>&copy; @DateTime.Now.Year - The After Party</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>