@using TheAfterParty.WebUI.Models._Nav
@model NavModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TheAfterPartyScripts.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar-sm">
        <div class="navbar-primary">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="topnav topnav-left">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "topnav-inner topnav-inner-solo" })
                            </li>
                            <li>
                                @Html.ActionLink("Store", "Index", "Store", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Objectives", "Index", "Objectives", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Auctions", "Index", "Auction", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Giveaways", "Index", "Giveaway", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("About", "Index", "About", new { area = "" }, new { @class = "topnav-inner topnav-inner-multi" })
                                <ul class="subnav">
                                    <li>@Html.ActionLink("Daily Deals", "Deals", "Store", new { area = "", id = "daily" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Weekly Deals", "Deals", "Store", new { area = "", id = "weekly" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Balances", "Index", "User", new { area = "" }, new { @class = "" })</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @if (Model != null && Model.LoggedInUser != null)
                    {
                        <div class="pull-right">
                            <div class="pull-left navbar-brand">
                                <i class="fa fa-opencart" style="color: dimgrey">
                                    <span id="cartQuantity">@Model.LoggedInUser.GetCartQuantity()</span>
                                </i>
                                <span id="cartTotal">@Model.LoggedInUser.GetCartTotal()</span>
                            </div>
                            @if (Model.LoggedInUser.ReservedBalance() > 0)
                            {
                            <div class="pull-left navbar-brand reserve-tooltip">
                                <i class="fa fa-exclamation-triangle reserve-div-left" style="color: #ffd800"></i>
                                <span class="reserve-div-right" id="reservedTotal">@Model.LoggedInUser.ReservedBalance()</span>
                                <div class="reserve-tooltip-body">
                                    @if (Model.LoggedInUser.GetCartTotal() > 0)
                                    {
                                        <span class="reserve-tooltip-danger-text" id="cartTotal">@Model.LoggedInUser.GetCartTotal()</span><span class="reserve-tooltip-text"> points reserved in shopping cart.</span>
                                    }
                                    else
                                    {
                                        <span class="reserve-tooltip-success-text" id="cartTotal">0</span><span class="reserve-tooltip-text"> points reserved in shopping cart.</span><br />
                                    }
                                    <br />
                                    @if (Model.LoggedInUser.GetSilentAuctionReservedBalance() > 0)
                                    {
                                        <span class="reserve-tooltip-danger-text reserve-tooltip-bottom-spans" id="silentAuctionTotal">@Model.LoggedInUser.GetSilentAuctionReservedBalance()</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for silent auctions.</span>
                                    }
                                    else
                                    {
                                        <span class="reserve-tooltip-success-text reserve-tooltip-bottom-spans" id="silentAuctionTotal">0</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for silent auctions.</span>
                                    }
                                    <br />
                                    @if (Model.LoggedInUser.GetPublicAuctionReservedBalance() > 0)
                                    {
                                        <span class="reserve-tooltip-danger-text reserve-tooltip-bottom-spans" id="publicAuctionTotal">@Model.LoggedInUser.GetPublicAuctionReservedBalance()</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for winning public auction bids.</span>
                                    }
                                    else
                                    {
                                        <span class="reserve-tooltip-success-text reserve-tooltip-bottom-spans" id="publicAuctionTotal">0</span><span class="reserve-tooltip-text reserve-tooltip-bottom-spans"> points reserved for winning public auction bids.</span>
                                    }
                                </div>
                            </div>
                            }
                            <div class="pull-left navbar-brand">
                                @if (Model.LoggedInUser.SmallAvatar != null)
                                {
                                    <div class="outer-avatar-container">
                                        <div class="inner-avatar-container" style="background-image: url(@Model.LoggedInUser.SmallAvatar)"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="outer-avatar-container">
                                        <div class="inner-avatar-container"></div>
                                    </div>
                                }
                                <span class="pull-left">@Model.LoggedInUser.UserName</span>
                                <span class="pull-right">@(Model.LoggedInUser.Balance - Model.LoggedInUser.ReservedBalance())</span>
                            </div>
                        </div>
                    }
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-container">
        <div class="banner-div">
            <img class="banner-img" src="~/Content/banner.png" />
        </div>
    </div>
    <div class="container body-content">
        @if (Model != null && Model.FullNavList != null)
        {
        <div class="container">
            <div class="row">
                <div class="col-lg-2 nav-first-row" style="height:100%">
                    @foreach (NavGrouping grouping in Model.FullNavList)
                    {
                        <h3 class="nav-tag nav-grouping-header">@grouping.GroupingHeader</h3>
                        foreach (NavItem item in grouping.NavItems)
                        {
                        <a href="@item.Destination" class="nav-item-link">
                            <div class="nav-tag nav-item-text">@item.DestinationName</div>
                            <div class="nav-tag nav-underline"></div>
                        </a>
                        }
                    }
                </div>
                <div class="col-lg-10">
                    @RenderBody()
                </div>
            </div>
        </div>
        }
        else
        {
            @RenderBody()
        }
        <hr class="footer-hr" />
        <footer>
            <p>&copy; @DateTime.Now.Year - The After Party</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>