@using TheAfterParty.WebUI.Models._Nav
@model NavModel

@functions {
    string SelectedNav(string navName) {
        if (this.ViewContext.RouteData.Values["controller"].ToString().ToLower().CompareTo(navName.ToLower()) == 0)
        {
            return "top-nav-outer-btn selected-top-nav";
        }

        return "top-nav-outer-btn";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/BootstrapXL.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TheAfterPartyScripts.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar-sm">
        <div class="navbar-primary">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container vertical-align">
                    <div class="navbar-header vertical-align">
                        <div class="@SelectedNav("Home")">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "top-nav-inner-btn" })
                        </div>
                        <div class="@SelectedNav("Store")">
                            <div class="top-sub-nav-relative is-hidden">
                                <div class="top-sub-nav-absolute">
                                    <a class="top-nav-inner-entry" href="@Url.Action("Deals", "Store", new { id = "daily" })">
                                        <i class="icon-yellow fa fa-fw fa-sun-o"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">View the daily deals.</p>
                                            <p class="top-nav-inner-entry-text-secondary">A new deal every day.</p>
                                        </div>
                                    </a>
                                    <a class="top-nav-inner-entry" href="@Url.Action("Deals", "Store", new { id = "weekly" })">
                                        <i class="text-purple fa fa-fw fa-calendar"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">View the weekly deals.</p>
                                            <p class="top-nav-inner-entry-text-secondary">New deals every Friday.</p>
                                        </div>
                                    </a>
                                    <a class="top-nav-inner-entry" href="@Url.Action("Newest", "Store")">
                                        <i class="icon-green fa fa-fw fa-plus-circle"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">See what's new in the shop.</p>
                                            <p class="top-nav-inner-entry-text-secondary">View the newest additions to the shop.</p>
                                        </div>
                                    </a>
                                    <a class="top-nav-inner-entry" href="@Url.Action("History", "Store")">
                                        <i class="icon-blue fa fa-fw fa-clock-o"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">See who's buying what.</p>
                                            <p class="top-nav-inner-entry-text-secondary">View site wide purchase history.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            @Html.ActionLink("Store", "Index", "Store", null, new { @class = "top-nav-inner-btn top-nav-dropdown-left" })
                            <div class="top-nav-inner-btn top-nav-dropdown-right"><i class="fa fa-angle-down top-nav-clickthrough"></i></div>
                        </div>
                        <div class="@SelectedNav("Objectives")">
                            <div class="top-sub-nav-relative is-hidden">
                                <div class="top-sub-nav-absolute">
                                    <a class="top-nav-inner-entry" href="@Url.Action("Boosted", "Objectives")">
                                        <i class="text-purple fa fa-fw fa-exclamation-circle"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">View boosted objectives.</p>
                                            <p class="top-nav-inner-entry-text-secondary">Objectives worth bonus points!</p>
                                        </div>
                                    </a>
                                    @if (Model != null && Model.LoggedInUser != null)
                                    {
                                        <a class="top-nav-inner-entry" href="@Url.Action("MyObjectives", "Objectives")">
                                            <i class="icon-green fa fa-fw fa-tasks"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">View my objectives.</p>
                                                <p class="top-nav-inner-entry-text-secondary">View objectives you've completed.</p>
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                            @Html.ActionLink("Objectives", "Index", "Objectives", null, new { @class = "top-nav-inner-btn top-nav-dropdown-left" })
                            <div class="top-nav-inner-btn top-nav-dropdown-right"><i class="fa fa-angle-down top-nav-clickthrough"></i></div>
                        </div>
                        <div class="@SelectedNav("User")">
                            @Html.ActionLink("Users", "Index", "User", null, new { @class = "top-nav-inner-btn" })
                        </div>
                        <div class="@SelectedNav("Auctions")">
                            <div class="top-sub-nav-relative is-hidden">
                                <div class="top-sub-nav-absolute">
                                    @if (Model != null && Model.LoggedInUser != null && Model.LoggedInUser.ReservedBalance() > 0)
                                    {
                                        <a class="top-nav-inner-entry" href="@Url.Action("MyWinningBids", "Auctions")">
                                            <i class="icon-yellow fa fa-fw fa-exclamation-circle"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">View open auctions I'm winning.</p>
                                                <p class="top-nav-inner-entry-text-secondary">@Model.LoggedInUser.ReservedBalance() points reserved in winning auctions.</p>
                                            </div>
                                        </a>
                                    }
                                    <a class="top-nav-inner-entry" href="@Url.Action("MyCurrentBids", "Auctions")">
                                        <i class="icon-green fa fa-fw fa-list-ul"></i>
                                        <div class="top-nav-inner-entry-text">
                                            <p class="top-nav-inner-entry-text-primary">View my tracked auctions.</p>
                                            <p class="top-nav-inner-entry-text-secondary">All open auctions that I've bid on.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            @Html.ActionLink("Auctions", "Index", "Auctions", null, new { @class = "top-nav-inner-btn top-nav-dropdown-left" })
                            <div class="top-nav-inner-btn top-nav-dropdown-right"><i class="fa fa-angle-down top-nav-clickthrough"></i></div>
                        </div>
                    </div>
                    @if (Model != null && Model.LoggedInUser != null)
                    {
                        <div class="flex-right vertical-align">
                            <div class="@SelectedNav("Cart")">
                                <a href="@Url.Action("Index","Cart")" class="top-nav-inner-btn">
                                    <p class="pad-cart-left"><span id="cartTotal">@Model.LoggedInUser.GetCartTotal()</span> points</p>
                                    <span class="fa fa-lg fa-shopping-cart"></span>
                                </a>
                            </div>
                            <div class="@SelectedNav("Account")">
                                <div class="top-sub-nav-relative is-hidden">
                                    <div class="top-sub-nav-absolute top-nav-right">
                                        <a class="top-nav-inner-entry" href="@Url.Action("Keys", "Account")">
                                            <i class="icon-yellow fa fa-fw fa-key"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">View my keys.</p>
                                                <p class="top-nav-inner-entry-text-secondary">View the product keys you own.</p>
                                            </div>
                                        </a>
                                        <a class="top-nav-inner-entry" href="@Url.Action("Orders", "Account")">
                                            <i class="text-purple fa fa-fw fa-list"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">View my orders.</p>
                                                <p class="top-nav-inner-entry-text-secondary">View past purchases made.</p>
                                            </div>
                                        </a>
                                        <a class="top-nav-inner-entry" href="@Url.Action("MySettings", "Account")">
                                            <i class="icon-blue fa fa-fw fa-cog"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">Edit your site settings.</p>
                                                <p class="top-nav-inner-entry-text-secondary">Set your timezone and pagination preferences.</p>
                                            </div>
                                        </a>
                                        <a class="top-nav-inner-entry" href="@Url.Action("Logout", "Account")">
                                            <i class="icon-red fa fa-fw fa-sign-out"></i>
                                            <div class="top-nav-inner-entry-text">
                                                <p class="top-nav-inner-entry-text-primary">Log out from The After Party.</p>
                                                <p class="top-nav-inner-entry-text-secondary">Bye now!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                @Html.ActionLink("Account (" + Model.LoggedInUser.Balance + " points)", "Index", "Account", null, new { @class = "top-nav-inner-btn top-nav-dropdown-left", id = "accountNavBtn" })
                                <div class="top-nav-inner-btn top-nav-dropdown-right"><i class="fa fa-angle-down top-nav-clickthrough"></i></div>
                            </div>
                            <div class="navbar-header vertical-align">
                                    @if (Model.LoggedInUser.SmallAvatar != null)
                                    {
                                        <div class="outer-avatar-nav-container vertical-align">
                                            <a href="@Url.Action("userprofile","user", new { id = Model.LoggedInUser.UserName })">
                                                <div class="inner-avatar-nav-container vertical-align" style="background-image: url(@Model.LoggedInUser.SmallAvatar)"></div>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="outer-avatar-nav-container vertical-align">
                                            <a href="@Url.Action("userprofile","user", new { id = Model.LoggedInUser.UserName })">
                                                <div class="inner-avatar-container vertical-align"></div>
                                            </a>
                                        </div>
                                    }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="flex-right vertical-align">
                            @using (Html.BeginForm("SteamLogin", "Account"))
                            {
                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                <input type="submit" value="" class="login-button"/>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="banner-container">
        <div class="banner-div">
            <p><span class="s-blue">T</span><span class="s-yellow">h</span><span class="s-purp">e </span><span class="s-orange">A</span><span class="s-green">f</span><span class="s-red">t</span><span class="s-blue">e</span><span class="s-yellow">r </span><span class="s-purp">P</span><span class="s-orange">a</span><span class="s-green">r</span><span class="s-red">t</span><span class="s-blue">y</span></p>
            @*<img class="banner-img" src="~/Content/banner.png" />*@
        </div>
    </div>
    <div class="container">
        @if (Model != null && Model.FullNavList != null)
        {
        <div class="row">
            <div class="col-lg-2 col-xl-2 col-md-2 hidden-sm hidden-xs nav-first-row">
                @foreach (NavGrouping grouping in Model.FullNavList)
                {
                    bool isFirst = true;
                    <h3 class="nav-tag nav-grouping-header">@grouping.GroupingHeader</h3>
                    foreach (NavItem item in grouping.NavItems)
                    {
                        if (item.IsFormSubmit)
                        {
                            if (String.IsNullOrEmpty(item.FormAction))
                            {
                                if (isFirst)
                                {
                                    <button type="submit" form="@ViewBag.StoreFormID" class="is-hidden">
                                    </button>
                                    isFirst = false;
                                }
                                <button type="submit" value="@item.FormValue" name="@item.FormName" form="@ViewBag.StoreFormID" class="btn-link">
                                    <div class="nav-item-link">
                                        @if (item.IsSelected)
                                        {
                                            <div class="nav-tag nav-item-text selected-nav"><span class="fa fa-caret-right"></span>@item.DestinationName</div>
                                        }
                                        else
                                        {
                                            <div class="nav-tag nav-item-text">@item.DestinationName</div>
                                        }
                                        <div class="nav-tag nav-underline"></div>
                                    </div>
                                </button>
                            }
                            else
                            {
                                if (isFirst)
                                {
                                    <button type="submit" form="@ViewBag.StoreFormID" class="is-hidden">
                                    </button>
                                    isFirst = false;
                                }
                                <button type="submit" form="@ViewBag.StoreFormID" class="btn-link" formaction="@item.FormAction">
                                    <div class="nav-item-link">
                                        @if (item.IsSelected)
                                        {
                                            <div class="nav-tag nav-item-text selected-nav"><span class="fa fa-caret-right"></span>@item.DestinationName</div>
                                        }
                                        else
                                        {
                                            <div class="nav-tag nav-item-text">@item.DestinationName</div>
                                        }
                                        <div class="nav-tag nav-underline"></div>
                                    </div>
                                </button>
                            }
                        }
                        else
                        {
                            <a href="@item.Destination" class="nav-item-link">
                                @if (item.IsSelected)
                                {
                                    <div class="nav-tag nav-item-text selected-nav"><span class="fa fa-caret-right"></span>@item.DestinationName</div>
                                }
                                else
                                {
                                    <div class="nav-tag nav-item-text">@item.DestinationName</div>
                                }
                                <div class="nav-tag nav-underline"></div>
                            </a>
                        }
                    }
                }
            </div>
            <div class="col-lg-10 col-xl-10 col-md-10">
                @RenderBody()
            </div>
        </div>
        }
        else
        {
            @RenderBody()
        }
        <div id="footer">
            <hr class="footer-hr" />
            <footer>
                <p>&copy; @DateTime.Now.Year - The After Party <span class="pull-right">Powered by <a class="powered-by-steam" href="http://steampowered.com/">Steam</a></span></p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>